<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/components/drop_menu.css">
    <link rel="stylesheet" href="../css/start_page.css">
    <link rel="stylesheet" href="../css/fichas_pages.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <title>Gestion de fichas</title>
</head>
<body>
    <div class="sidebar close">
        <div class="logo-details">
            <img src="../public/logo_white.png" alt="" width="60" height="60">
        </div>
        <ul class="nav-links">
            <li>
                <a href="../start_page_admin.html">
                    <i class='bx bx-grid-alt' ></i>
                    <span class="link_name">General</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="../start_page_admin.html">General</a></li>
                </ul>
            </li>
            <li><hr class="solid"></li>
            <li class="general">
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-collection' ></i>
                        <span class="link_name">Gestionar ficha</span>
                    </a>
                </div>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Gestinar ficha</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bx-book-alt'></i>
                        <span class="link_name">Gestionar ambientes</span>
                    </a>
                </div>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Gestionar ambientes</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-group' ></i>
                    <span class="link_name">Gestionar instructores</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Gestionar instructores</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class='bx bxs-time' ></i>
                        <span class="link_name">Gestionar horario</span>
                    </a>
                </div>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Gestionar horario</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-history'></i>
                    <span class="link_name">Solicitudes pendientes</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Solicitudes pendientes</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-pie-chart-alt-2' ></i>
                    <span class="link_name">Reportes</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Reportes</a></li>
                </ul>
            </li>
            <li><hr class="solid"></li>
            <li>
                <a href="#">
                    <i class='bx bx-cog' ></i>
                    <span class="link_name">Configuración</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Configuración</a></li>
                </ul>
            </li>
            <li>
                <div class="log-out">
                    <a href="#">
                        <a href="index.html">
                            <i class='bx bx-log-out'></i>
                        </a>
                    </a>
                    <ul class="sub-menu blank">
                        <li><a class="link_name" href="#">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="profile-details">
                    <div class="name-job">
                        <a href="../index.html" class="profile_name">Cerrar sesión</a>
                    </div>
                    <a href="index.html">
                        <i class='bx bx-log-out'></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu'></i>
            <div class="profile">
                <i class="fa-solid fa-bell"></i>
                <i class="fa-solid fa-user"></i>
                <p>Nombre de usuario</p>
                <i class="fa-solid fa-chevron-up"></i>
            </div>
        </div>
        <div class="content">
            <div class="title">
                <h1>Gestionar Ficha</h1>
            </div>
            <div class="content-container">
                <div class="btn-new">
                    <button id="new-ficha">Nueva Ficha</button>
                </div>
                <table class="ficha" id="example">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre ficha</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miercoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                            <th>Horas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2692929</td>
                            <td>ADSO</td>
                            <td>Feb. 2023</td>
                            <td>Marzo. 2025</td>
                            <td>hkjhkh</td>
                            <td>da</td>
                            <td>sdad</td>
                            <td>dasda</td>
                            <td>dada</td>
                            <td>30</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="modal-contents">
                <div class="modal-title">
                    <h2>Crear ficha</h2>
                </div>
                <form action="">
                    <div class="form-content">
                        <label for="">Código</label>
                        <input type="number" placeholder="ID Ficha">
                    </div>
                    <div class="form-content">
                        <label for="">Programa</label>
                        <select name="" id="">
                            <option value="">Selecciónar nombre del programa</option>
                        </select>
                    </div>
                    <div class="form-content">
                        <label for="">Fecha. Inicio</label>
                        <input type="date">
                    </div>                    
                    <div class="form-content">
                        <label for="">Fecha. Fin</label>
                        <input type="date">
                    </div>
                    <div class="form-content">
                        <label for="">Sede</label>
                        <select name="" id="">
                            <option value="">Selecciónar sede</option>
                            <option value="">Comercio y Servicios</option>
                            <option value="">Yamboró</option>
                        </select>
                    </div>
                    <div class="btn-new-ficha">
                        <button>Crear ficha</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>

        var modal = document.getElementById("myModal");
        var btn = document.getElementById("new-ficha");
        var span = document.getElementsByClassName("close")[0];
        var sidebar = document.querySelector(".sidebar");

        btn.onclick = function() {
            if (sidebar.classList.remove("close")) {
                sidebar.classList.toggle("close")
            } else {
                sidebar.classList.toggle("close")
            }
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
            sidebar.classList.remove("close");
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        $(document).ready(function () {
            $('#example').DataTable({
                responsive: true
            });
        });
    </script>
</body>
</html>